<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask SPA Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="app">
        <div class="scrolling-text">
            <span>Congratulations on your Python Flask project!</span>
        </div>

        <div>
            <p><strong>Hostname:</strong> {{ hostname }}</p>
            <p><strong>IP Address:</strong> {{ ip_address }}</p>
        </div>

        <img src="{{ url_for('static', filename='images/SSO.png') }}" alt="Jenkins Project" class="logo">
    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
